header{
  padding: 0 0 18px 0;
  p{
    padding: 37px 0 0 0;
  }
}

.suggestion-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .suggestion-topic{
    width: 90%;
    cursor: pointer;
    list-style: none;

    li{
      padding: 8px;

    }

    p{
      background-color: var(--bg-secundary);
      border-radius: 30px;
      padding: 10px;


    }
  }

}

